@media screen and (max-width: 640px) {
    #nav-bar-dekstopscreen{
        display: none;
    }
    #nav-bar-mobilescreen{
        display: flex;
    }
    .arrow {
        display: none;
    }

    #profile, .section-container {
        display: block;
    }
    .profile-pic-container {
        width: 215px;
        height: 215px;
        margin: 0 auto 2rem;
    }
    section {
        margin: 0.5%;
    }

    .about-containers {
        flex-wrap: wrap;
    }

    #projects {
        margin-top: 20rem;
    }
}

@media screen and (max-width: 500px) {
    .section-container, .about-containers, .text-container, footer {
        margin-left: 0.6rem;
    }

    #experience {
        margin-top: 8rem;
    }

    article {
        display: flex;
        width: 5rem;
        justify-content: flex-start;
        gap: 0;
    }
    .article-container {
        margin-right: 3rem;
    }

    #contact {
        margin-top: 8rem;
    }
    .contact-info-upper-container {
        display: block;
    }
    .nav-launcher {
        font-size: 1rem;
    }
}
